<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:toolsNs="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        toolsNs:ignore="ProtectedPermissions" />

    <application
        android:name=".PrivateDnsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activity.DnsOffActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_off"
            android:label="@string/set_dns_off"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoDisplay" />
        <activity
            android:name=".activity.DnsAutoActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/set_dns_auto"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoDisplay" />
        <activity
            android:name=".activity.DnsOnActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_on"
            android:label="@string/set_dns_on"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoDisplay" />

        <service
            android:name=".service.PrivateDnsTileService"
            android:exported="true"
            android:icon="@drawable/ic_dns_auto"
            android:label="@string/tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>